<div class="header container" *ngIf="isDesktop else mobileHeader">
    <nav>
        <ul class="header__nav">
            <li class="nav__link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/" i18n="Header link|Home link@@header.home">Главная</a></li>
            <li class="nav__link" routerLinkActive="active"><a routerLink="/about" i18n="Header link|About link@@header.about">Обо мне</a></li>
            <li class="nav__link" routerLinkActive="active"><a routerLink="/contact" i18n="Header link|Contact link@@header.contact">Связь</a></li>
        </ul>
    </nav>
    <div class="header__logo">
        <a class="logo-brand" href="#">
            <img src="../../../assets/images/logo_white.png" alt="">
        </a>
    </div>
    <div class="header__additional">
        <a href="#" class="nav__link nav__link-standalone">eng</a>
        <app-theme-switcher></app-theme-switcher>
    </div>

</div>

<ng-template #mobileHeader>
    <div class="header mobile container" [ngClass]="{'fixed': isMenuToggled}">
        <div class="header__logo">
            <div class="logo-text">
                <a href="#">Aks Design</a>
            </div>
        </div>
        <div class="header__right">
            <a href="#" class="nav__link nav__link-standalone">eng</a>
            <app-theme-switcher [iconSize]="'2x'"></app-theme-switcher>
            <div class="header__toggler" (click)="toggleMenu()">
                <div class="menu menu-close" *ngIf="isMenuToggled else menuClose">
                    <fa-icon [icon]="faXmark" size="2x"></fa-icon>
                </div>
                <ng-template #menuClose>
                    <div class="menu menu-open">
                        <fa-icon [icon]="faBars" size="2x"></fa-icon>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="header__overlay" *ngIf="isMenuToggled">
        <div class="overlay__content">
            <nav>
                <ul class="header__nav">
                    <li class="nav__link" (click)="toggleMenu()" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"><a routerLink="/" i18n="Header link|Home link@@header.home">Главная</a></li>
                    <li class="nav__link" (click)="toggleMenu()" routerLinkActive="active"><a routerLink="/about" i18n="Header link|About link@@header.about">Обо мне</a></li>
                    <li class="nav__link" (click)="toggleMenu()" routerLinkActive="active"><a routerLink="/contact" i18n="Header link|Contact link@@header.contact">Связь</a></li>
                </ul>
            </nav>
        </div>
        <div class="overlay__footer">
            <app-socials [iconSize]="'2x'" [iconSpacing]="'large'"></app-socials>
        </div>
    </div>
</ng-template>