<div id="imgModal" class="image-lightbox">
    <div class="image-lightbox__content" (click)="closeModal.emit()">
        <ng-container *ngFor="let image of images">
            <div class="lightbox-slide" *ngIf="slideIndex === image.id">
                <img src="{{image.image}}" class="slide-image">
            </div>
        </ng-container>
    </div>
  <a class="image-lightbox__navigation image-lightbox__navigation-prev" (click)="plusSlides(-1)">
    <fa-icon [icon]="faChevronPrev" size="2x"></fa-icon>
  </a>
  <a class="image-lightbox__navigation image-lightbox__navigation-next" (click)="plusSlides(1)">
    <fa-icon [icon]="faChevronNext" size="2x"></fa-icon>
  </a>
</div>
