<ng-container *ngIf="project">
    <div class="project container">
        <div class="project__header pagewidth_max">
            <img class="project__cover w-47" [src]="project.cover" alt="Project Cover">
            <div class="content-column content-column_center w-47">
                <h1 class="project__name">
                    {{project.title}}
                </h1>
                <h3 class="project__category category_indent">
                    {{project.category}}
                </h3>
            </div>
        </div>
        <div class="project__description pagewidth_max">
            <div class="content-row content-row_center project-m-b">
                <h3 class="description__header m-b-2" i18n="Project description|Description header @@project.header">
                    О проекте
                </h3>
                <app-share></app-share>
            </div>
            <p class="description__text" [innerHTML]="project.description"></p>
        </div>

        <div class="project__items">
            <img class="project-item" lazyLoad *ngFor="let projectImage of images" [src]="projectImage.cover" alt="" (click)="openImageLightbox(projectImage.id)">
        </div>
        <app-project-navigation [projectShortTitle]="project.shortTitle"></app-project-navigation>
        <h3 class="description__header project-m-b" i18n="Project other|Other projects @@project.other">
            Другие проекты
        </h3>
        <app-gallery [showAllGalleryItems]="false"></app-gallery>
    </div>
  <app-modal id="lightbox-modal">
    <app-image-lightbox
      [images]="images"
      [slideIndex]="currentImageIndex"
      (closeModal)="modalService.close('lightbox-modal')"></app-image-lightbox>
  </app-modal>

</ng-container>
