.container {
    padding-left: var(--container-desktop-indent);
    padding-right: var(--container-desktop-indent);
    margin: 0 auto;
    &.mobile {
        padding-left: var(--container-mobile-indent);
        padding-right: var(--container-mobile-indent);
    }
}

.color-default {
    color: var(--foreground-default)
}

.color-secondary {
    color: var(--foreground-secondary)
}

.color-tertiary {
    color: var(--foreground-tertiary)
}

.color-light {
    color: var(--foreground-light)
}